/*================
GENERAL 
================*/
* {
  max-width: 100%; /* Ensure no element exceeds the width of the viewport */
  box-sizing: border-box; /* Ensure padding and border don't cause layout issues */
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

a {
  color: #333;
  text-decoration: none;
}

.section {
  padding: 10px 15px;
}

.offcanvas {
  padding: 15px !important;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

.under-construction {
  display: block;
  padding: 100px;
  height: 100vh;
  width: 100%;
}

.under-construction img {
  object-fit: cover;
  width: 70%;
  height: 70%;
}

/*================
Loading Screen
================*/
#loading-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #333;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body.loaded #loading-screen {
  opacity: 0;
  visibility: hidden;
}

/*================
HEADER 
================*/
header {
  position: fixed;
  min-height: 7vh;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
}

.logo-img {
  width: 150px;
  height: auto;
}

#offcanvasNavbar {
  display: none;
}

.navbar {
  margin-right: 20px;
}

.nav-link {
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover {
  color: #8b8b8b;
}

.dropdown-toggle {
  color: #333 !important;
}

.dropdown-toggle:hover {
  color: #8b8b8b !important;
}

.dropdown-menu {
  background-color: #fff;
  padding: 0;
  border: 1px solid #ddd;
  min-width: 300px;
}

.dropdown-item {
  color: #333;
  padding: 10px 20px;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #8b8b8b;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.btn-success {
  background-color: #333;
  border: none;
}

.btn-success:hover {
  background-color: #8b8b8b;
}

/*================= 
MAIN
=================*/
/* hero */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.carousel-caption {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 20%;
  right: 10%;
  text-align: left;
  color: #fff;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1; 
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.25rem;
  margin-top: 10px;
}

.carousel-caption a.btn {
  background-color: #8b8b8b;
  margin-top: 15px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.carousel-caption a.btn:hover {
  background-color: #333;
}

/* About Us */
.about-us {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.about-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #C68C39;
  line-height: 1.5;
  text-align: justify;
}

.about-text {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: justify;
}

/* Video container */
.video-container {
  position: relative;
  justify-content: center;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: #000;
  border-radius: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a.btn.btn-find-out {
  font-weight: bold;
  color: #C68C39;
  border: none;
}

a.btn.btn-find-out:hover {
  color: #fff;
  background-color: #333;
}

/* Certifications */
.our-certification {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.certification-flex {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}

.certification-box {
  background-color: #fff;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: tansform 0.3s ease, box-shadow 0.3s ease;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.certification-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.certification-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.certification-logo-flex {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}

.certificate-logo {
  width: 60px;
  height: auto;
  padding: 10px;
  transition: transform 0.3s ease;
}

/* Social Projects Section */
.social-projects {
  background-color: #fff;
  padding: 40px 20px;
}

.social-text {
  font-size: 1.1rem;
  text-align: justify;
  color: #555;
  line-height: 1.8;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.6rem;
  grid-template-areas: 
  "img1 img3 img4 img5 img7"
  "img2 img3 img6 img6 img7";
  height: 50vh;
}

/* Grid Area Assignment */
#img1 { grid-area: img1; }
#img2 { grid-area: img2; }
#img3 { grid-area: img3; }
#img4 { grid-area: img4; }
#img5 { grid-area: img5; }
#img6 { grid-area: img6; }
#img7 { grid-area: img7; }

.grid-item {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.grid-item.landscape {
  grid-row: 1;
}

.grid-item.portrait {
  grid-row: span 2;
}

.grid-item.wide {
  grid-column: span 2;
}

.grid-item img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.btn-discover {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.btn-discover:hover {
  background-color: #8b8b8b;
}

/* Integrated Organic Project */
.integrated-organic-project {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.integrated-organic-project p {
  font-size: 1.1rem;
  color: #C68C39;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: justify;
}

/* Event Section */
.event-section {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.event-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.events-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.event-card {
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.event-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.event-content {
  padding: 20px;
}

.event-tag {
  background-color: #C68C39;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  position: absolute;
  top: 15px;
  left: 15px;
}

.event-card h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
}

.event-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

.event-read-more {
  color: #C68C39;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.event-read-more:hover {
  color: #333;
  text-decoration: underline;
}

.event-date {
  font-size: 0.9rem;
  color: #555;
  text-align: left;
  padding: 0 20px 20px;
}

.see-all-container {
  margin-top: 30px;
}

.see-all-button {
  background-color: #8b8b8b;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.see-all-button:hover {
  background-color: #333;
}

/* News Section */
.news-section {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.news-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.news-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.news-card {
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.news-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.news-content {
  padding: 20px;
}

.news-tag {
  background-color: #C68C39;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  position: absolute;
  top: 15px;
  left: 15px;
}

.news-card h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
}

.news-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

.news-read-more {
  color: #C68C39;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.news-read-more:hover {
  color: #333;
  text-decoration: underline;
}

.news-date {
  font-size: 0.9rem;
  color: #555;
  text-align: left;
  padding: 0 20px 20px;
}

/*==================
PAGE ABOUT US
==================*/
#header-section-image .background-section-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: zoomOut 4s ease-out;
  z-index: -999;
}

.background-section-image img {
  object-fit: cover;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#header-section-image .card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 150px;
  align-items: left;
  text-align: left;
  color: #fff;
}

.welcome-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.btn-contact {
  background-color: #555;
  color: #fff;
}

.btn-contact:hover {
  background-color: #333;
  color: #fff;
}

.vision-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #C68C39;
  line-height: 1.5;
  text-align: justify;
}

.visi-misi {
  padding: 40px 20px;
  background-color: #fff;
}

.mision-list {
  list-style-type: disc;
  font-size: 1.3rem;
  color: #555;
}

.mision-list li {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: justify;
  color: #555;
}

.misi-img-box {
  max-width: 100%;
  height: auto;
  padding: 16px;
}

.misi-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}

#internal-control-system {
  background-color: #f8f9fa;
  padding-top: 50px;
}
/*==================
PAGE SOCIAL EVENTS
==================*/


/*==================
PAGE CONTACT US
==================*/


/*=================================
PAGE PRODUCT ORGANIC COCONUT SUGAR
=================================*/


/*=======================================
PAGE PRODUCT NATURAL COCONUT SUGAR SPICES
=======================================*/
#header-image {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

#header-image .background-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  animation: zoomOut 4s ease-out;
  z-index: -999;
}

.background-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#header-image .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 150px;
  align-items: left;
  text-align: left;
  color: #fff;
}

#header-image .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#header-image .product-header-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.text-strong {
  color: #dd9e45;
}

#header-image .product-description {
  font-size: 1.2rem;
  max-width: 60%;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.product-detail {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  color: #C68C39;
  margin-bottom: 20px;
}

.product-text {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: justify;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.product-detail {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  color: #C68C39;
  margin-bottom: 20px;
}

.product-text {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: justify;
}

.img-box {
  max-width: 100%;
  height: auto;
  padding: 15px;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}

.img-box-2 {
  width: 100%;
  height: 300px;
  padding: 15px;
}

.product-img-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/*=================================
PAGE PRODUCT NATURAL ARENGA SUGAR
=================================*/


/*=================================
PAGE PRODUCT NATURAL DRIVATIVES
=================================*/
.line {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background-color: #555;
  margin: 20px 0;
}

#product-features {
  padding: 40px 20px;
  background-color: #fff;
}

.benefit-list {
  list-style-type: decimal;
  font-size: 1.1rem;
  color: #555;
}

.benefit-list li {
  margin-bottom: 10px;
  text-align: justify;
}

.section-sub-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #C68C39;
  margin-bottom: 20px;
}

.hc {
  border-radius: 20px;
  background-color: #fff;
  padding: 20px 25px;
}

.hc-list {
  list-style-type: decimal;
  font-size: 1rem;
  color: #555;
}

.hc-list li {
  margin-bottom: 10px;
  text-align: justify;
}

#product-features .certification-logo-flex {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}

#product-features .certificate-logo {
  width: 100px;
  height: auto;
  padding: 10px;
  transition: transform 0.3s ease;
}

#product-detail .certification-logo-flex {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}

#product-detail .certificate-logo {
  width: 100px;
  height: auto;
  padding: 10px;
  transition: transform 0.3s ease;
}

.fetures-section {
  background-color: #f8f9fa;
  border-radius: 30px;
}

.features-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.features-title span {
  color: #C68C39;
}

.variety-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.feature-icon, .storage-icon {
  color: #C68C39;
  font-size: 50px;
  text-align: center;
  margin-bottom: 1rem;
}

.features-benefit-icon {
  color: #C68C39;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1rem;
}

#product-features .features-benefit-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.use-img {
  width: 150px;
  height: auto;
  border-radius: 20px;
}

.feature-item, .use-item {
  text-align: center;
}

.feature-item h3, .use-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.health-benefits-section table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.culinary-uses-section h3, .cp-uses-section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

.storage-info {
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

#product-features-2 {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

#product-features-2 .fetures-section {
  background-color: #fff;
  border-radius: 30px;
}


.fetures-section {
  background-color: #f8f9fa;
  border-radius: 30px;
}

.features-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.features-title span {
  color: #C68C39;
}

.variety-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.feature-icon, .storage-icon {
  color: #C68C39;
  font-size: 50px;
  text-align: center;
  margin-bottom: 1rem;
}

.use-img {
  width: 150px;
  height: auto;
  border-radius: 20px;
}

.feature-item, .use-item {
  text-align: center;
}

.feature-item h3, .use-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.health-benefits-section table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.culinary-uses-section h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

.storage-info {
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

#product-features-2 {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

#product-features-2 .fetures-section {
  background-color: #fff;
  border-radius: 30px;
}

#product-features-2 .storage-info {
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
  background-color: #fff;
}

/*=================================
PAGE PRODUCT NATURAL CHARCOAL
=================================*/


/*=================================
PAGE PRODUCT NATURAL COCO PIT
=================================*/


/*==================
FOOTER
==================*/
.footer-section {
  position: relative;
  background-image: url('../img/footer.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 60px 0;
  z-index: 1;
}

.footer-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.footer-logo img {
  width: 250px;
  height: auto;
  background-color: #f8f9fa;
  border-radius: 20px;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ccc;
}

.footer-social-icons a {
  color: #ccc;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-social-icons a:hover {
  color: #fff;
}

/* Tlak With Us Form */
.form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.btn-primary {
  background-color: #333;
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #8b8b8b;
}

/*================
COPYRIGHT
================*/
.copyright {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #555;
}

.copyright-text {
  font-size: 0.9rem;
  color: #ccc;
  margin: 0;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 5px;
}

.footer-link:hover {
  text-decoration: underline;
}

/*================
MEDIA QUERIES
================*/

@media (max-width: 1186px) {
  .benefit-list {
    font-size: 1rem;
    color: #555;
  }
  
  .benefit-list li {
    margin-bottom: 8px;
    text-align: justify;
  }
}

@media (max-width: 1024px) {
  #header-section-image h3 {
    font-size: 1.5rem;
  }

  #header-section-image .video-container {
    margin-top: 50px;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* apply here */
  header {
    max-height: 6vh;
  }

  .logo-img {
    width: 100px;
    height: auto;
  }

  .navbar-toggler {
    display: block;
  }

  #offcanvasNavbar {
    display: block;
  }

  .offcanvas-body {
    height: 100%;
  }

  .offcanvas-title {
    font-weight: bolder;
  }

  /* Hide navigation links and contact button on small screens */
  nav.d-lg-flex, .contact {
    display: none;
  }

  .certification-flex {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
  }
  
  .certification-box {
    padding: 2px;
    margin: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .certification-logo-flex {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 2px;
  }

  .welcome {
    padding: 80px;
  }

}

@media (max-width: 768.98px) {
  .under-construction {
    display: block;
    padding: 50px;
    height: 100vh;
    width: 100%;
  }
  
  .under-construction img {
    object-fit: cover;
    width: 70%;
    height: 70%;
  }

  .logo-img {
    min-width: 70px;
    height: auto;
  }
  .carousel-caption h5 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .carousel-caption a.btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .section-title {
    font-size: 2rem;
  }

  .about-title {
    font-size: 1.1rem;
  }
  
  .about-text {
    font-size: 1rem;
  }

  .social-text {
    font-size: 1rem;
  }

  .integrated-organic-project p {
    font-size: 1rem;
  }

  .footer-logo img {
    width: 200px;
  }

  .footer-title {
    font-size: 1.25rem;
  }
  
  .certification-box {
    border-radius: 10px;
    margin: 0px 2px;
    width: 50px;
    height: 50px;
  }

  .certification-logo-flex {
    padding: 8px;
  }
  
  .certificate-logo {
    padding: 5px;
  }

  .events-grid, .news-grid {
    flex-direction: column;
    align-items: center;
  }

  .event-card, .news-card {
    width: 90%;
  }

  .welcome {
    padding: 50px;
  }

  #header-image .card-img-overlay {
    padding: 80px;
  }
  
  #header-image .product-header-title {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  
  #header-image .product-description {
    font-size: 1rem;
    max-width: 60%;
  }

  .product-detail {
    padding: 20px 10px;
  }
  
  .product-title {
    font-size: 1.8rem;
  }
  
  .product-text {
    font-size: 1.1rem;
  }
  
  #header-section-image .card-img-overlay {
    padding: 50px;
  }

  .vision-title {
    font-size: 1rem;
  }
  
  .mision-list {
    font-size: 1rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .grid-item {
    height: auto;
  }

}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* apply here */
  header {
    max-height: 5vh;
  }

  .collapse {
    background-color: #f8f9fa;
    padding: 1rem 0;
  }

  #header-image .card-img-overlay {
    padding: 40px;
  }
  
  #header-image .product-header-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  #header-image .product-description {
    font-size: 0.8rem;
    max-width: 70%;
  }
  
  .product-text {
    font-size: 1rem;
  }

  .benefit-list {
    font-size: 0.9rem;
    color: #555;
  }
  
  .benefit-list li {
    margin-bottom: 5px;
    text-align: justify;
  }

  .varieties-section .product-text {
    margin-top: 15px;
  }

  #header-section-image .background-section-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: zoomOut 4s ease-out;
    z-index: -999;
  }
  
  .background-section-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #header-section-image .welcome {
    padding: 10px;
  }
  
  #header-section-image .card-img-overlay {
    padding: 20px;
  }

  #header-section-image h3 {
    display: none;
  }

  #header-section-image .video-container {
    margin-top: 50px;
  }
  
}